<header class="nav h-screen w-1/4 mx-auto float-left">
   <div class="flex flex-col space-y-5 text-2xl  h-screen border-r-2 border-r-gray-400">
        <i class="fab fa-twitter text-5xl text-blue-500"></i>

        <a href="" class="hover:text-blue-400"><i class="fa fa-home"></i> Home</a>

        <a href="" class="hover:text-blue-400"><i class="fa fa-hashtag"></i> Explore</a>
        <a href="" class="hover:text-blue-400"><i class="fa fa-bell"></i> Notifications</a>
        <a href="" class="hover:text-blue-400"> <i class="fa fa-envelope"></i> Messages</a>
        <a href="" class="hover:text-blue-400"> <i class="fa fa-bookmark"></i> Bookmarks</a>
        <a href="" class="hover:text-blue-400"> <i class="fa fa-memo"></i> Lists</a>
        <a href="" class="hover:text-blue-400"><i class="fa fa-user"></i> Profile</a>
        <a href="" class="hover:text-blue-400"> <i class="fa fa-circle-ellipsis-horizontal"></i></a>
   </div>
</header>