<header class="nav w-2/5 h-screen float-right border-l-2 border-l-gray-400 px-1">
    <div class="space-y-3 w-full mx-auto">
        <input type="text" placeholder="Search Twitter" class="w-full py-2 px-2 rounded-full bg-gray-300 focus:outline-none">

        <!-- Trends -->
        <div class="bg-gray-300 rounded-xl py-2">
            <div class="flex items-center justify-between px-2">
                <p class="text-2xl font-bold">Trends for you</p>
                <div>
                    <i class="fa fa-gear text-blue-500"></i>
                </div>
            </div>
            <hr>

            <!-- trend -->
            <div class="trend px-2 mt-2 py-1">
                <h1 class="text-gray-500"><span class="font-bold text-black">01</span>Trending worldwide</h1>
                <h1 class="fontf-bold"><b>#Breaking4</b></h1>
                <h1 class="text-gray-500">124k Tweets</h1>
                <h1 class="text-gray-500">1,024 are tweeting this this</h1>
            </div>
            <hr class="mb-2">
            <div class="trend px-2 mt-2 py-1">
                <h1 class="text-gray-500"><span class="font-bold text-black">02</span>Trending worldwide</h1>
                <h1 class="fontf-bold"><b>#Breaking4</b></h1>
                <h1 class="text-gray-500">124k Tweets</h1>
                <h1 class="text-gray-500">1,024 are tweeting this this</h1>
            </div>
            <hr class="mb-2">
        </div>
    </div>
 </header>