@tailwind base;
@tailwind utilities;
@tailwind components;


.like:active i{
    color: rgb(255, 0, 128);
}

body{
    min-height: 100vh;
}
.post-images{
    overflow: hidden;
}
.nav{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.post-images image{
    object-fit: cover;
}
.trend{
    cursor: pointer;
}